body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #ff758c, #ff7eb3, #ffc3a0);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite alternate;
    background-image: url('bgp.jpg');
    object-fit: cover;
    background-repeat: no-repeat;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

#outer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    height: 100vh;
}

.animated-text {
    text-align: center;
    color: #fff;
    font-size: 24px;
    animation: slideIn 2s ease-out forwards; 
    opacity: 0; 
}

@keyframes slideIn {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

form {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px; 
}

#inner {
    width: 300px;
    margin: 0 auto;
}

input[type="text"],
input[type="number"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
    border-color: #66afe9;
    outline: none;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #66afe9;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #4d90fe;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #66afe9;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s; 
}

input[type="submit"]:hover {
    animation: pulse 0.5s infinite alternate; 
}

@keyframes pulse {
    0% {
        background-color: #ff758c; 
    }
    100% {
        background-color: #ff6699; 
    }
}
